/* GLOBAL STYLES */
* {
  background-color: lightcyan;
  background-position: center;
  background-repeat: no-repeat;
  background-size: fill;
  color: #666;
  font-family: 'Rokkitt', sans-serif;
  font-weight: 600;
}

p {
  font-family: 'Rokkitt', sans-serif;
  font-size: 20px;
}

h1 {
  font-family:
}

h2, h3 {
  font-family: 'Rokkitt', sans-serif;
}

a  {
  color: #95a5a6;
  cursor: pointer;
  display: inline-block;
  line-height: 2;
  font-size: 1.3em;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
}

.header {
  display: flex;
  justify-content: space-between;
}

.navBar {
  display: flex;
  justify-content: space-around;
  min-width: 40%;
}

/* CONTAINER STYLES */
.container {
  background: #ffffff;
  box-shadow: 0 0 2px rgba(0,0,0,0.2);
  margin: 30px auto;
  padding: 1.5rem 2rem;
  width: 60%;
  max-width: 600px;
  min-width: 500px;
}

.btn {
  background-color: #444;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  color: #fff;
  font-size: 0.8em;
  outline: none;
  padding: 1.018em 1.2em;
  text-transform: uppercase;
  transition: all 0.3s;
  text-align: center;
}

.btn:hover {
  background-color: #303030;
}

nav {
  display: flex;
  justify-content: space-around;
}


/* FORM STYLES */
header + form {
  padding: 2rem 0;
}

input[type="text"] {
    height: 41px;
    border-radius: 2px;
    outline: none;
    border: 1px solid #e5e5e5;
    padding: 0 1.2rem;
    width: 75%;
    margin-right: 2%;
    font-size: 0.813em;
}

form .btn {
  width: 22%;
  padding: 1.018em 0;
}


/* LIST STYLES  */
ul {
  margin: 0;
  list-style: none;
  padding-left: 0;
}

li {
  color: #95a5a6;
  display: block;
  float: right;
  font-size: 1em;
  font-weight: bold;
  line-height: 2;
  margin-left: 2em;
  padding: 1.2em 0;
  text-decoration: none;
  text-transform: uppercase;
}

/* CSS FOR IMAGES */
#design1 {
  background-image: url(./img/design1.jpeg);
  background-position: center;
  background-size: cover;
}

#design2 {
  background-image: url(./img/design2.jpeg);
  background-position: center;
  background-size: cover;
}

#design3 {
  background-image: url(./img/design3.jpeg);
  background-position: center;
  background-size: cover;
}

/* CAROUSEL */
